body {
    background-color: #d8f4ff;
  }
  
.h1 {
  font-size: 30px;
  color: green;

.text{
    text-align:  center;
   font-family: Arial, "Arial Black", Arial, Verdana, sans-serif;
   font-weight: bold;
}